body {
  font-family: "Georgia";
  font-size: 18px;
  line-height: 1.5;
  color: #3b3a3a;
  font-weight: 300;
  margin: 0;
  padding: 0;
  padding-top: 70px;
  background-color: #F5F5F5;
  /*background-image: url("../images/circles-light.png"); */
}
ul {
  margin: 0;
  align: left;
}
.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}
.App-title {
  font-size: 1.5em;
}
.App-intro {
  font-size: large;
}
.main-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.main-grid-side {
  grid-column: span 2;
  border: 0px solid;
}
.main-grid-content {
  grid-column: span 8;
  border: 0px solid;
}
.filterbox-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 50px);
}
.filterbox-content {
  grid-column: span 1;
  border: 0px solid;
}
@media screen and (max-width: 800px) {
  .main-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .main-grid-side {
    grid-column: span 1;
    border: 0px solid;
  }
  .main-grid-content {
    grid-column: span 1;
    border: 0px solid;
  }
  .filterbox-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 50px);
  }
  .filterbox-content {
    grid-column: span 1;
    border: 0px solid;
  }
  img {
    max-width: 60%!important;
    height: auto;
    vertical-align: middle;
    width: auto\9;
    /* ie8 */
  }
}
.modal-overlay-div {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.65);
}
.modal-content-div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  overflow: auto;
  text-align: left;
  padding: 4px;
  height: 95%;
  width: 80%;
  cursor: pointer;
  background-color: white;
}
.modal-dialog-div {
  position: relative;
  outline: 0;
  width: auto;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  max-width: auto;
  cursor: default;
  border-radius: 4px;
  font-size: 15px;
}
.modal-dialog-div ul {
  margin: 0;
  list-style-type: circle;
  text-align: left;
}
img {
  max-width: 50%;
  min-height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  vertical-align: middle;
  width: auto\9;
  /* ie8 */
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
